<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.2">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.86">
    <script>pipeline{
  agent any
  stages{
    stage(&quot;clean up&quot;){
      steps{
        echo &quot;====== Cleaning Up. ======&quot;
        sh &quot;rm -rf *&quot;
      }
    }
    stage(&quot;checkout&quot;){
      steps{
        echo &quot;====== Checkout Github Repo. ======&quot;
        git credentialsId: &apos;github&apos;, url: &apos;https://github.com/MahmoodAbuAwwad/Internship_Jenkins_Task.git&apos;
        sh &quot;git checkout master&quot;
      }
    }
    stage(&quot;CreatingScript&quot;){
      steps{
        echo &quot;===== Creating Build_number.tar.gz =====&quot;
        sh &quot;chmod +x build_number.sh&quot;
        sh &quot;tar -cvf ${currentBuild.number}.tar.gz build_number.sh&quot;
        sh &quot;ls&quot;
      }
    }
    stage(&quot;DeployOnSlaveMachine&quot;){
      agent {
        label &apos;slave&apos;
      }
      steps{
        echo &quot;===== Deploying on Slave Machine =====&quot;
        sh &quot;ls&quot;
      }
    }
  }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>